.header {
    background-color: #121212;
    border-bottom: -10em;
    border-bottom-right-radius: 20%;
    border-bottom-left-radius: 20%;
    height: 90vh;
    padding: 1em 2em 1em 2em;
}

.cont {
    padding-left: 10%;
    padding-right: 10%;
}

ul {
    padding-top: 2em;
}

a:hover {
    text-decoration: none;
}

a {
    color: #f3f4f7 !important;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
}

.header-container h1 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: #f3f4f7;
}

h4 {
    color: #d74176;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
}

.icon-col .fa {
    color: #d74176;
    font-size: 30px !important;
    padding-left: 1em;
}

.facts-div h1 {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    padding-top: 2em;
    color: #121212;
}

.icon-col {
    padding-top: 2em;
    padding-right: 2em;
}

.facts-div .fa {
    font-size: 30px;
    color: #d74176;
}

.facts-row {
    padding-top: 5em;
    padding-bottom: 5em;
}

.facts-row p {
    padding-top: 1em;
    font-family: 'Poppins', sans-serif;
}

.quote-col h4 {
    -webkit-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    font-family: 'Sacramento', cursive;
    text-transform: none;
    color: #121212;
    padding: 2em;
    border-radius: 5%;
}

.quote-col {
    margin-top: 5em;
}

.divider {
    height: 1px;
    background-color: #eee;
}

.img-round {
    -webkit-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 44px -10px rgba(0, 0, 0, 0.75);
    border-radius: 10%;
}

.about-col {
    font-size: 20px;
    font-family: 'Poppins', sans-serif;
    padding-top: 10em;
}